@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor&family=Koulen&family=Konkhmer+Sleokchher&family=Kufam&family=Maitree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@import url('themes.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: #fef7f1;
}


#icone-tema {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

#btn-tema {
    all: unset;
    border-style: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    appearance: button;
    margin-top: 30%;
}

.topo{
    background-color: #fef7f1;
    width: 100%;
    max-width: 99.2vw;
    height: 10vh;
    display: flex;
    align-items: center;
    
}

body.dark-theme .topo {
    background-color: #484747;
    max-width: 100vw;
}

.topo1{
    margin-right: 69%;
    margin-left: 5%;
    flex-direction: row;
}


#PurePaws {
    text-decoration: none;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    display: flex;
    align-items: center;
    color: black;
}

#PurePaws h1{
    font-size: 32px;
}

#logo {
    padding-right: 10px;
}

body.dark-theme #PurePaws {
    color: white;
}

#p-verde {
    color: #08ba68;
}

.topo2-base {
    display: flex;
    flex-direction: row;
    margin-left: -5.5vw;
}

.topo2{
    margin: 10px;
}

#search {
    margin-top: 8px;
}


.topo3{
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 8px;
    width: 10vw;
    height:3.1vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}



.meiocima{
    background-color: #08ba68;
    height: 59.9vh;
    display: flex;
}
.meiocima1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;
}
#des, #des1{
    font-size: 61px;
    text-align: center;
    font-family: 'Kufam', sans-serif;
}
#des2{
    font-size: 100px;
    color: #FFFFFF;
    text-align: center ;
    font-family: 'Kufam', sans-serif;
}
#des3{
    font-size: 30px;
    color: #54524E;
    font-family: 'Kdam Thmor', sans-serif;
}
#butmeiocima{
    border-radius: 11px;
    border: none;
    height: 83px;
    width: 400px;
    cursor: pointer;
    margin-left: 8%;
}
.meiocima2{
    margin-left: 27vw;
}

.animais{
    margin-top: 5%;
    display: flex;

    justify-content: center;
}

.animais1{
    background-color: #2b9463;
    border-radius: 16px;
    width: 40vw;
    height: 66vh;
    margin: 30px;
}

.dvanimais1{
    background-color: #FFFFFF;
    border-radius: 7px;
    height: 60px;
    width: 20vw;
    margin-top: 5%;
    justify-self: center;
}

#txtani{
    font-size: 33px;
    justify-self: center;
    color: #54524E;
    font-family: 'Konkhmer Sleokchher', sans-serif;
}
#ccff{
    margin-top: 6.1%;
    margin-left: 17%;
    width: 64.1%;
    
}

.cimaani{
    display: flex;
}

.cimaani1{
    background-color: #44c68a;
    border-radius: 16px;
    width: 20vw;
    height: 27vh;
    margin: 30px;
}
#rt{
    margin-top: 3.6%;
    margin-left: 30%;
    width: 55%;
}
.dvcimaani1{
    background-color: #FFFFFF;
    border-radius: 7px;
    height: 60px;
    width: 13vw;
    margin-top: 5%;
    justify-self: center;
}
.cimaani2{
    background-color: #5fe5a7;
    border-radius: 16px;
    width: 20vw;
    height: 27vh;
    margin: 30px;
}
#pss{
    margin-top: 5.8%;
    margin-left: 30%;
    width: 43%;
}
.dvcimaani2{
    background-color: #FFFFFF;
    border-radius: 7px;
    height: 60px;
    width: 13vw;
    margin-top: 5%;
    justify-self: center;
}
.baixoani1{
    background-color: #18da80;
    border-radius: 16px;
    width: 43.4vw;
    height: 32.7vh;
    margin: 30px;
    
    display: flex;
}
#gt{
    width: 171.6%;
    margin-left: 70%;
}
.dvbaixoani1{
    background-color: #FFFFFF;
    border-radius: 7px;
    height: 60px;
    width: 15vw;
    margin-top: 14%;
    justify-self: center;
    margin-left: 42%;
}


#omelhor{
    font-size: 90px;
    color: #54524E;
    justify-self: center;
    margin-top: 6%;
    font-family: 'Koulen', sans-serif;
}

body.dark-theme #omelhor {
    color: #FFF8F0;
}

.produtos{
    display: flex;

    justify-content: space-evenly;
}
.produtos1, .produtos2, .produtos3, .produtos4{
    background-color: #08ba68;
    width: 18%;
    height: 50vh;
    justify-items: center;
    border-radius: 4px;
}
#SR, #SR1{
    width: 65%;
    margin-left: 17%;
    margin-top: 20%;
}
#SR1{
    width: 70%;
    margin-top: 33%;
}
.txtprodutos, .txtprodutos1{
    font-family: 'Maitree', sans-serif;
    font-size: 20px;
}
.txtprodutos{
    margin-top: 5%;
}
.CB{
    display: flex;
    margin-top: 8%;
    justify-self: end;
    margin-right: 5%;
}
#CB1{
    margin-top: 11.4%;
}
#CBimg{
    width: 100%;
    margin: 3px;
}



.baixomeio{
    margin-top: 9%;
    background-color:#08ba68 ;
    display: flex;
    width: 100%;
    height: 60vh;

}
.esquerda{
    width: 60%;
    margin-left: 5%;
}
#txtesquerda{
    margin-top: 10%;
    font-size: 65px;
    font-family: 'Noto Sans', sans-serif;
}
#bttsocorro{
    width: 40%;
    height: 14%;
    margin-top: 6%;
    border-radius: 6px;
    border: none;
    background-color: #1f1e1e;
    cursor: pointer;
}
#txtsocorro{
    color: #FFFFFF;
    font-size: 37px;
}
#CCA{
    width: 145%;
    margin-left: 4%;
    margin-top: 5.8%;
}

.cimafim {
    margin-top: 10%;
}

.carrp {
    display: flex;
    justify-content: space-evenly ;
}

.imgcarrp {
    width: 10%;
    height: 10%;
    text-align: center;
}

.txtcarro {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
#txtcarrp,#txtcarrp1, #txtcarrp2 {
    font-size: 35px;
    font-family: 'Noto Sans', sans-serif;
}
#txtcarrp1 {
    margin-left: -30%;
}
#txtcarrp2 {
    margin-left: -33%;
}

.fim {
    margin-top: 10%;
    background-color: #25ab6d;
    height: 15vh;

}
#PRws {
    color: #000000;
    font-size: 40px;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    justify-self: center;
}
.IWT {
    display: flex;
    justify-content: center;
}
#tel {
    margin-top: -12%;
}
.insta:hover, .whats:hover, .tele:hover {
    cursor: pointer;
}

body.dark-theme .material-symbols-outlined {
  color: #FFF8F0; 
}